main/media/src/main/webapp/wsdl/sample_schema1.xsd

<xs:schema xmlns:tns="http://service.divx.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://service.divx.com/" version="1.0">

  <xs:element name="Say" type="tns:Say"/>

  <xs:element name="SayResponse" type="tns:SayResponse"/>

  <xs:complexType name="Say">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="SayResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
