main/storage/src/main/webapp/wsdl/storage_schema1.xsd

<xs:schema xmlns:tns="http://service.divx.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://service.divx.com/" version="1.0">

  <xs:element name="GetUploadInfo" type="tns:GetUploadInfo"/>

  <xs:element name="GetUploadInfoResponse" type="tns:GetUploadInfoResponse"/>

  <xs:complexType name="GetUploadInfo">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GetUploadInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
