main/social/src/main/webapp/wsdl/social_schema1.xsd

<xs:schema xmlns:tns="http://service.divx.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://service.divx.com/" version="1.0">

  <xs:element name="AddFriend" type="tns:AddFriend"/>

  <xs:element name="AddFriendResponse" type="tns:AddFriendResponse"/>

  <xs:complexType name="AddFriend">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AddFriendResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
